<h1>Profile Page for Tweet ID: <%= @tweet.id %></h1>

<p><%= @tweet.content %></p>


Tweet by: <%= @tweet.user.username %>
<br>
Tweet created: <%= @tweet.created_at %>
<br>
Tweet created: <%= @tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>
<br>
<!-- link back to user from here -->
